* {
    background-color: lightcyan;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid black;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 25px;
    margin: 10px;
    background-color: lemonchiffon;

    font-weight: bold;
}

header {
    float: left;
    width: 49%;
    height: 700px;
}
main {
    float: right;
    width: 50%;
    height: 700px;
}


#pic { 
    max-height: 600px;
    max-width: 600px;
    width: auto;
    height: auto; 
    transform: rotate(270deg);
    position: relative;
    left: 150px;
    top: 30px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#intro {
    position: relative;
    top: 250px;
}

p {
    padding-left: 20px;
    text-align: center;
}

li:hover {
    background-color: blue;
    color: white;
}